{{!< default}} {{#post}} 
<div class="owen-section">
    <div class="container">
        <div class="row text-center">
            <h2 class="bold">Blog</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
                <span>{{primary_tag.name}}</span>
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="rotate">
                    <h2 class="heading">{{primary_tag.name}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="work-entry animate-box">
                    <a href="{{url}}" class="work-img" style="background-image: url({{img_url feature_image}});">
                    </a>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="desc">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/post}}